<link rel="stylesheet" href="<%= assetPath('css/project_issues.css') %>">

<div id="main-container">
    <div id="title-container">
        <h1>
            <%= project.name %> <span>Created by <%= project.author %></span>
        </h1>
    </div>

    <div id="query-container">
        <form action="/project/issue/search/<%= project.id %>" id="main" method="POST">
            <h2>Search for Issues</h2>
    
            <div class="input-parent">
                <input type="text" name="title" placeholder="Title" id="title">
            </div>
    
            <div class="input-parent">
                <input type="text" name="author" placeholder="Author" id="author">
            </div>

            <div class="input-parent">
                <input type="text" name="labels" placeholder="Enter labels separated by a comma" id="labels">
            </div>
            
            <div class="input-parent">
                <textarea name="description" placeholder="Description" id="description" cols="46" rows="2"></textarea>
            </div>
    
            <button type="submit">Search</button>
        </form>
    </div>

    <div id="issues-container">

        <a href="/project/issue/<%= project.id %>">
            <div id="add-issue" class="issue-details-tile">
                <i id="plus-icon" class="fa-solid fa-plus fa-10x" style="color: white;"></i>                    
            </div>
            <span id="create-issue-text">Create Issue</span>
        </a>
        
        <%if(project.issues.length!=0){%>
            <%for(issue of project.issues){%>
                <div class="issue-details-tile">
                    <div class="button-container">
                        <a class="delete-button" href="/project/issue/delete/<%= issue.id %>">Delete</a>
                    </div>

                    <div class="title">
                        <%= issue.title %>
                    </div>

                    <div class="author">
                       <%= issue.author %>
                    </div>

                    <div class="labels-container">
                        <%for(label of issue.labels){%>
                            <div class="label">
                                <%= label %>
                            </div>
                        <%}%>
                    </div>

                    <div class="description">
                        <%= issue.description %>
                    </div>
                </div>
            <%}%>
        <%}else{%>
            <span style="margin-top: 150px; margin-left: 100px; margin-bottom:100px">No Issues Found</span>
        <%}%>
    </div>
</div>