<h1>
    <%= project.name %>
</h1>

<a href="/project/issue/<%= project.id %>">Create Issue</a>

<ul>
    <%if(project.issues){%>
        <%for(issue of project.issues){%>
            <li>
                <p><%= issue.title %> </p>
                <p><%= issue.author %></p>
                <p><%= issue.description %></p>
            </li>
        <%}%>
    <%}%>
</ul>